SubjectFormsApp/SubjectFormsApp/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50258/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50258/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50258/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SubjectService" />
      <xsd:import schemaLocation="http://localhost:50258/Service1.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_insert_sub_InputMessage">
    <wsdl:part name="parameters" element="tns:insert_sub" />
  </wsdl:message>
  <wsdl:message name="IService1_insert_sub_OutputMessage">
    <wsdl:part name="parameters" element="tns:insert_subResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_update_sub_InputMessage">
    <wsdl:part name="parameters" element="tns:update_sub" />
  </wsdl:message>
  <wsdl:message name="IService1_update_sub_OutputMessage">
    <wsdl:part name="parameters" element="tns:update_subResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSubjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjects" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSubjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSubject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubject" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_delete_Subject_InputMessage">
    <wsdl:part name="parameters" element="tns:delete_Subject" />
  </wsdl:message>
  <wsdl:message name="IService1_delete_Subject_OutputMessage">
    <wsdl:part name="parameters" element="tns:delete_SubjectResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="insert_sub">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/insert_sub" message="tns:IService1_insert_sub_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/insert_subResponse" message="tns:IService1_insert_sub_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="update_sub">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/update_sub" message="tns:IService1_update_sub_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/update_subResponse" message="tns:IService1_update_sub_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSubjects" message="tns:IService1_GetSubjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSubjectsResponse" message="tns:IService1_GetSubjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSubject" message="tns:IService1_GetSubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSubjectResponse" message="tns:IService1_GetSubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete_Subject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/delete_Subject" message="tns:IService1_delete_Subject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/delete_SubjectResponse" message="tns:IService1_delete_Subject_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insert_sub">
      <soap:operation soapAction="http://tempuri.org/IService1/insert_sub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_sub">
      <soap:operation soapAction="http://tempuri.org/IService1/update_sub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubjects">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSubjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubject">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_Subject">
      <soap:operation soapAction="http://tempuri.org/IService1/delete_Subject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50258/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>