SubjectFormsApp/SubjectFormsApp/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SubjectService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SubjectService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Subject_class">
    <xs:sequence>
      <xs:element minOccurs="0" name="Attended_lectures" type="xs:int" />
      <xs:element minOccurs="0" name="Required_attendance" type="xs:float" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total_lectures" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Subject_class" nillable="true" type="tns:Subject_class" />
</xs:schema>